@model Blogger.Models.ViewModel.LoginSignupViewModel
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout_Login.cshtml";
}

@section Styles
    {
    <style type="text/css">
        body {
            background-color: lightgray;
        }

        h1{
            color:black
        }

        .bgcl {
            background-color: dimgrey;
        }
    </style>
}

    <div class="container">
        <div class="row mt-lg-5">
            <div class="col-6 offset-3 border border-secondary rounded pl-5 pr-5 pb-5 mt-4 bgcl">

                <div class="text-center mt-3">
                    <h1>LogIn</h1>
                </div>
                <h5 class="text-success text-center">@TempData["successMessage"]</h5>
                <form method="post" asp-action="Login">
                    <div class="form-group">
                        <label asp-for="Username"></label>
                        <input type="text" asp-for="Username" placeholder="Enter your Username" class="form-control" autocomplete="off" />
                        <span class="text-danger">@TempData["errorUserName"]</span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Password"></label>
                        <input id="password" type="password" asp-for="Password" placeholder="Enter your Password" class="form-control" autocomplete="off" />
                        <span class="text-danger">@TempData["errorPassword"]</span>
                    </div>

                    <div class="form-group">
                        <input type="checkbox" asp-for="IsRemember"/>
                        <label asp-for="IsRemember"></label>
                    </div>

                    <dnt-captcha asp-captcha-generator-max="999999" 
                                 asp-captcha-generator-min="111111" 
                                 asp-captcha-generator-language="English" 
                                 asp-captcha-generator-display-mode="ShowDigits" 
                                 asp-fore-color="#333333" 
                                 asp-back-color="#ccc" 
                                 asp-font-name="Tahoma" 
                                 asp-font-size="20" 
                                 asp-refresh-button-class="fas fa-redo btn-sm" 
                                 asp-placeholder="Enter Captcha" 
                                 asp-text-box-class="text-box form-control"
                                 asp-text-box-template="<span class='input-group-prepend'><span class='form-group-text'></span>{0}"
                                 asp-validation-message-class="text-danger"
                                 asp-use-noise="false"
                    />
                @if (TempData["captchaError"]!=null){
                    <span class="text-danger alert alert-danger">@TempData["captchaError"]</span>
                }
                        
                    <div class="form-group">
                        <input type="submit" class="btn btn-block btn-primary mt-2 mb-2 mt-1 float-right" value="Login" />
                    </div>
                </form>
                <div class="text-center">
                    <a class="text-primary" asp-action="ForgotUserName">Forgot Username?</a>
                    <a class="text-primary" asp-action="ForgotPassword">Forgot Password?</a>
                </div>
                <div>
                    <a class="text-light btn btn-primary font-weight-bold mt-3" asp-action="SignUp" asp-controller="Account">Sign Up</a>
                </div>
            </div>
        </div>
    </div>
